@(resourceRoute: String => Call)(page: org.splink.raven.Page)

<!DOCTYPE html>
<html lang="@page.language">
    <head>
        <title>@page.head.title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        @page.head.metaTags.map { tag =>
          <meta name="@tag.name" content="@tag.content" />
        }

        @page.head.css.map { css =>
            <link rel='stylesheet' media='screen' href='@{resourceRoute(css.toString).url}'>
        }

        @page.head.js.map { js =>
            <script src='@{resourceRoute(js.toString).url}'></script>
        }
    </head>
    <body>
        @Html(page.body)

        @page.js.map { js =>
            <script src='@{resourceRoute(js.toString).url}'></script>
        }
    </body>
</html>
